@model RaFiKaWebApplication.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierProduct.NameSupplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierProduct.NameSupplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfProduct.NameProductType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfProduct.NameProductType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicProduct)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
