@model IEnumerable<RaFiKaWebApplication.Models.ProductType>

@{
    ViewBag.Title = "Product Types";
}

    <h2>Product Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AboutProductType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutProductType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductTypeId })
        </td>
    </tr>
}

</table>
